.brand-band {
  /* height: 100%;
  width: 100%;
  display:flex; */
  /*justify-content: center;  /* Horizontally aligns items in the center */
  /* flex-wrap: wrap; */
  padding-top: 2em;
  /* flex-direction:row;  */
}

.slds-card + .slds-card {
  margin-left: 10em;
}

.container-fluid {
  width: 100%;
}

#containerGrid {
  margin:auto;
  width: 120em;
}

#row-2 {
  padding-top:2em;
}